
body{

    background-color: lavenderblush;
}
nav{
    text-align: center;
    word-spacing: 100px;
    text-decoration-color: darkblue;
    font-size: xx-large;
    font-weight:bold;
    text-decoration:underline;
}
h1 {
font-size: 80px;
    color: red;
    font-family: roboto;
    text-align: center;
}
h2 {
    font-size: 40px;
    color:darkorange;
    font-family: roboto;
    text-align: center;
}
h3 {
    font-size: 40px;
    color:darkorange;
    font-family: roboto;
    text-align: center;
}
h4 {

    font-size: 20px;
    color:darkblue;
    font-family: roboto;
    text-align: center;
}
h5 {

    font-size: 20px;
    color:darkorange;
    font-family: roboto;
    text-align: left;
}
h6 {

    font-size: 16px;
    color:darkblue;
    font-family: roboto;
    text-align: left;
}

#img1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}
#img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
}
#img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
}

p{

   padding-left: 100px;
padding-right: 100px;
    font-size: 20px;
    font-weight:lighter;
    font-family: roboto;
    text-align:center;
}
.p1{


    font-size: 15px;
    font-weight:lighter;
    font-family: roboto;
    text-align:left;
}

footer{
    text-align:center;
}
footer p {

    color: green ;
    display: inline;

}
form{
    text-align: center;

}